/*start*/
:root {
    --main-color: #2196f3 ;
    --main-color-alt : #1787e0 ;
    --main-transition : 0.3s ;
    --main-padding-top : 100px ;
    --main-padding-bottom : 100px ;
    --section-background: #ECECECEC;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px ;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}
.main-title {
    border: solid 2px black;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px ;
    font-weight: bold;
    width: fit-content;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
.main-title:hover {
    color: white;
    border: solid 2px white;
    transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--main-transition);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left_main 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right_main 0.5s linear forwards;

}
.spikes {
    position: relative;
}
.spikes::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25% ),
    linear-gradient(231deg, white 25%, transparent 25% );
    background-size: 30px 30px;
}
/*end*/
/*header-start*/
.header {
    background-color: white;
    position: relative ;
    box-shadow: 0 0 10px #ddd ;
    -webkit-box-shadow: 0 0 10px #ddd ;
    -moz-box-shadow: 0 0 10px #ddd ;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header .container .logo {
    color: var(--main-color) ;
    font-size: 27px;
    font-weight: 800;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .header .container .logo {
        width: 100%;
    }
}
.header .container .logo:hover {
    color: var(--main-color-alt);
}
.header .container .nex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .header .container .nex {
        width: 100%;
    }
}
.header .container .nex > li:hover .megamenu {
    z-index: 5;
    opacity: 1;
    top: calc(100% + 1px);
}
.header .container .nex > li > a {
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 25px;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width: 768px) {
    .header .container .nex > li > a {
        font-size: 15px;
        height: 40px;
        padding: 15px ;
    }
}
.header .container ul.nex > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color-alt);
    top: 0;
    left: -100%;
    height: 4px;
    width: 100%;
    transition: var(--main-transition);
}
.header .container ul.nex > li:hover > a {
    color: var(--main-color-alt);
    background-color: #fafafa;
}
.header .container ul.nex > li:hover > a::before{
    left: 0;
}
.header .megamenu {
    background-color: white;
    position: absolute;
    width: 100%;
    padding: 30px;
    left: 0;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    top: calc(100% + 50px);
    transition: top var(--main-transition) , opacity var(--main-transition);
}
@media (max-width: 768px) {
    .header .megamenu {
        display: block;
        padding: 5px;
    }
}
.header .megamenu .image img {
    max-width: 100%;
}
@media (max-width: 992px) {
    .header .megamenu .image img {
        display: none;
    }
}
.header .megamenu .links {
    min-width: 250px;
    flex: 1;
}
.header .megamenu .links li {
    position: relative;
}
.header .megamenu .links li:not(:last-child) {
    border-bottom: solid #e9e6e6 1px;
}
@media (max-width: 768px) {
    .header .megamenu .links:first-of-type li:last-child {
        border-bottom: solid #e9e6e6 1px;
    }
}
.header .megamenu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #faf9f9;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.header .megamenu .links li:hover {
    color: var(--main-color-alt);
}
.header .megamenu .links li:hover::before {
    width: 100%;
}
.header .megamenu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.header .megamenu .links li a i {

}
/*header-end*/
/*Landing-Start*/
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px) ;
    padding-bottom: 120px;
}
@media (max-width: 992px) {
    .landing .container {
        min-height: calc(100vh - 112px) ;
        flex-direction: column-reverse;
        padding-bottom: 80px;
    }
}
.landing .container .text {
    flex: 1;
}
@media (max-width: 992px) {
    .landing .container .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.landing .container .text h1 {
    font-size: 37px;
    letter-spacing: -2px;
    font-weight: bold;
    margin: 0;
}
@media (max-width: 992px) {
    .landing .container .text h1 {
        font-size: 26px;
    }
}
.landing .container .text p {
    font-size: 20px;
    color: #666;
    max-width: 500px;
    line-height: 1.6;
}
@media (max-width: 992px) {
    .landing .container .text p {
        font-size: 16px;
    }
}
.landing .container .imge img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: img_animation 5s linear infinite;
    z-index: -1;
}
@media (max-width: 992px) {
    .landing .container .imge img {
        padding: 50px 0 ;
    }
}
.landing .go_dawn {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateY(50%);
    animation: go_animation 2s infinite;
}
.landing .go_dawn:hover {
    color: var(--main-color-alt);
    animation: none;
}
/*Landing-End*/
/*articles-Start*/
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.articles .container .box img {
    width: 100%;
    max-width: 100%;
}
.articles .container .box .text {
    padding: 20px ;
}
.articles .container .box .text h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: -1px;
}
.articles .container .box .text p {
    color: #777;
    line-height: 1.8;
    margin: 10px 0 10px;
}
.articles .container .box .info {
    padding: 20px;
    border-top: solid 1px #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .container .box .info i {
    color: var(--main-color);
}
.articles .container .box:hover .info i {
    animation: i_info 0.5s linear infinite;
}
/*articles-Start*/
/*Gallery-Start*/
.gallery {
    background-color: #ECECECEC;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 1px 12px 20px rgb(0 0 0 / 13%), 0 2px 4px rgb(0 0 0 / 12%);
}
.gallery .container .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 1;
    opacity: 1;
}
.gallery .container .image:hover img {
    transform: rotate(7deg) scale(1.2);
}
.gallery .container .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .container .image img {
    width: 100%;
    max-width: 100% ;
    position: relative;
    transition: var(--main-transition);
}
.gallery .container img::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    background-color: white;
    width: 110%;
    height: 110%;
}
/*Gallery-End*/
/*Features-Start*/
.features {
    background-color: white;
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 40px;
}
.features .container .box {
    text-align: center;
    border: solid 1px #CCC;
    overflow: hidden;
}
.features .container .box .image {
    position: relative;
}
.features .container .box .image::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .quality .image::before {
    background-color: rgb(244, 64, 54, 0.6);
}
.features .time .image::before {
    background-color: rgb(0, 150, 136, 0.6);
}
.features .passion .image::before {
    background-color: rgb(3, 169, 244, 0.6);
}
.features .container .box .image::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .container .box:hover .image::after {
    border-width: 170px 500px 170px;
    border-color: transparent transparent white transparent;
}
.features .container img {
    max-width: 100%;
}
.features .container h2 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    position: relative;
    width: fit-content;
    padding-bottom: 20px;
}
.features .container h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 5px;
}
.features .quality h2::after {
    background-color: #f44036;
}
.features .time h2::after {
    background-color: rgb(0, 150, 136);
}
.features .passion h2::after {
    background-color: rgb(3, 169, 244);
}
.features .container p {
    line-height: 2;
    margin: 30px 0;
    padding: 30px;
    font-size: 20px;
    color: #777;
}
.features .container a {
    border: solid 3px;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 50px auto;
    border-radius: 7px;
    font-weight: bold;
    font-size: 22px;
    transition: var(--main-transition);
    z-index: 0;
    position: relative;
}
.features .quality a {
    border-color: #f44036;
    color: #f44036;
}
.features .quality a::before {
    background-color: #f44036;
}
.features .time a {
    border-color:  rgb(0, 150, 136);
    color: rgb(0, 150, 136);
}
.features .time a::before {
    background-color: rgb(0, 150, 136);
}
.features .passion a {
    border-color:  rgb(3, 169, 244);
    color: rgb(3, 169, 244);
}
.features .passion a::before {
    background-color: rgb(3, 169, 244);
}
.features .box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
}
.features .box:hover a::before {
    width: 100%;
}
.features .time a {
    border-color: rgb(0, 150, 136);
    color: rgb(0, 150, 136);
}
.features .box:hover a {
    color: white;
}
/*Features-End*/
/*Testimonials Start*/
.testimonials {
    background-color: #ECECECEC;
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}
.testimonials .container .box {
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 6px;
}
.testimonials .container .box img {
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid #ECECECEC 10px;
}
.testimonials .container .box h3 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);
}
.testimonials .container .box span.title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .container .box .rate i.filled {
    color: #FFC107;
}
.testimonials .container .box p {
    color: #555;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 10px;
}
/*Testimonials End*/
/*Team Start*/
.team {
    /*background-color: white;*/
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .container .box {
    position: relative;
}
.team .container .box::before,
.team .container .box::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}
.team .container .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .container .box::after{
    background-color: #e6e6e6;
    width: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.team .container .box:hover::after{
    width: calc(100% - 60px);
}
.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .container .box .data img {
    width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .container .box:hover img{
    filter: grayscale(100%);
}
.team .container .box .data .social {
    width: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team .container .box .data .social a {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 18px;
}
.team .container .box .data .social a i {
    color: #777;
    transition: var(--main-transition);
}
.team .container .box .data .social a:hover i{
    color: var(--main-color);
}
.team .container .box .info {
    margin-left: 80px;
    padding: 15px 0;
}
.team .container .box .info h3{
    margin: 0;
    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transition);
}
.team .container .box:hover .info h3{
    color: #777;
}
.team .container .box .info p {
    color: #333;
}
/*Team End*/
/*Services Start*/
.services {
    background-color: var(--section-background);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    text-align: center;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%),
                0 2px 4px 0 rgb(0 0 0 /12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .container .box:hover{
    transform: translateY(-10px);
}
.services .container .box::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    transition: var(--main-transition);
}
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box .data i{
    color: #d5d5d5;
    margin: 30px auto;
    display: block;
}
.services .container .box .data h3{
    color: var(--main-color);
    margin: 20px 0 40px;
    font-size: 25px;
}
.services .container .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.services .container .info::before{
    content: "0" counter(services);
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.services .container .info::after{
    content: "";
    position: absolute;
    width: 50px;
    height: calc(100% + 0.4px);
    top: 0;
    left: 80px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}
.services .container .info a {
    color: var(--main-color);
}
/*Services End*/
/*Our-skills Start*/
.our-skills{
    background-color: white;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.our-skills .container{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .our-skills .container img{
        display: none;
    }
}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .container .skills .skill h3{
    position: relative;
}
.our-skills .container .skills .skill h3 span{
    position: absolute;
    right: 0;
    color: var(--main-color);
    font-size: 14px;
    border: solid 1px #CCC;
    padding: 5px;
    border-radius: 5px;
}
.our-skills .container .skills .skill .the-progress{
    background-color: #d9d9d9;
    width: 100%;
    height: 30px;
    position: relative;
}
.our-skills .container .skills .skill .the-progress span{
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
}
/*Our-skills End*/
/*Work Steps Start*/
.work-steps{
    background-color: var(--section-background);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.work-steps .container{
    display: flex;
    align-items: center;
    gap: 80px;
}
@media (max-width: 992px) {
    .work-steps .container{
        flex-direction: column;
    }
}
.work-steps .container > img{
    max-width: 100%;
}
.work-steps .container .info .box{
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    border: solid 3px white;
    border-radius: 5px;
    z-index: 1;
}
@media (max-width: 992px) {
    .work-steps .container .info .box{
        flex-direction: column;
        text-align: center;
    }
}
.work-steps .container .info .box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    transition: var(--main-transition);
    z-index: -1;
}
.work-steps .container .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .container .info .box img{
    width: 70px;
    height: 70px;
}
.work-steps .container .info .box .text h3{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px;
}
.work-steps .container .info .box .text p{
    font-size: 18px;
    color: #777;
    line-height: 1.5;
    margin: 0;
}
/*Work Steps End*/
/*Events Start*/
.events {
    background-color: white;
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events img {
        display: none;
    }
}
.events .info {
    flex: 1;
}
.events .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}
.events .info .time .nuit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}
.events .info .time .nuit:hover{
    border: 1px solid var(--main-color);
}
.events .info .time .nuit span{
    display: block;
}
.events .info .time .nuit span:first-child{
    color: var(--main-color);
    font-size: 35px;
    padding: 15px ;
    font-weight: bold;
}
.events .info .time .nuit span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .info .time .nuit:hover span:last-child{
    border-top: 1px solid var(--main-color);
}
.events .info h2.title {
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
}
.events .info p.description {
    text-align: center;
    line-height: 1.7;
    color: #777;
    font-size: 19px;
}
.events .subscribe {
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
    .events .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;;
    }
}
.events .subscribe form input[type="email"]{
    border: none;
    border-radius: 50px;
    flex: 1;
    padding: 20px;
    caret-color: var(--main-color);
}
@media (max-width: 767px){
    .events .subscribe form input[type="email"]{
        border-radius: 0;
    }
}
.events .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .subscribe form input[type="submit"] {
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    padding: 20px;
    color: white;
    transition: var(--main-transition);
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 767px){
    .events .subscribe form input[type="submit"]{
        border-radius: 0;
    }
}
.events .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/*Events Start*/
/*Pricing Start*/
.pricing {
    background-color: var(--section-background);
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .box {
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    background-color: #f6f5f5;
    width: 0;
    height: 50%;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box::before {
    top: 0;
    left: 0;
}
.pricing .box::after {
    bottom: 0;
    right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
@media (min-width: 1200px) {
    .pricing .box.popular{
        top: -20px;
    }
}
.pricing .box.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    right: 20px;
    top: -2px;
    padding: 10px 10px 35px;
    background-color: var(--main-color);
    font-size: 18px;
    color: white;
    width: 40px;
}
.pricing .box.popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 20px;
    transition: var(--main-transition);
}
.pricing .box.popular:hover .label::before{
    border-color: transparent transparent #f6f5f5 transparent;
}
.pricing .box h3.title {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    letter-spacing: -1px;
}
.pricing .box img {
    max-width: 80px;
    margin-bottom: 30px;
}
.pricing .box .price {
    margin-bottom: 20px;
}
.pricing .box .price span.amount {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    display: block;
    margin-bottom: 5px;
}
.pricing .box .price span.time {
    color: #777;
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: solid 1px #f6f5f5;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .box a {
    display: block;
    width: fit-content;
    margin: 30px auto 40px;
    border: solid 2px var(--main-color);
    padding: 15px 20px;
    border-radius: 8px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}
/*Pricing End*/
/*Videos Start*/
.videos {
    background-color: white;
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 3px solid #DDD;
}
@media (max-width: 992px) {
    .videos .container .holder {
        flex-direction: column;
    }
}
.videos .container .holder .list {
    min-width: 300px;
    background-color: white;
}
.videos .container .holder .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.videos .container .holder ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}
.videos .container .holder ul li:hover {
    color: var(--main-color-alt);
    background-color: #fafafa;
}
.videos .container .holder ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}
.videos .container .holder img {
    max-width: 100%;
}
.videos .container .holder .image {
    position: relative;
}
.videos .container .holder .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 30px);
    transform: translate(-50px, -50px);
    border-color: transparent transparent transparent rgb(256 256 256 / 70%);
    border-style: solid;
    border-width: 60px;
    cursor: pointer;
}
.videos .container .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .container .preview .info {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/*Videos End*/
/*Stats Start*/
.stats {
    background-image: url("../imgs/stats.jpg");
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-size: cover;
    min-height: 300px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto 50px;
    width: fit-content;
    color: black;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: .8;
    transition: var(--main-transition);
}
.stats .container .box:hover {
    opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
}
.stats .container .box::before {
    bottom: 0;
    left: 0;
}
.stats .container .box::after {
    top: 0;
    right: 0;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}
.stats .container .box i {
    display: block;
    font-weight: bold;
    margin: auto;

}
.stats .container .box span {
    display: block;
}
.stats .container .box span.number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}
.stats .container .box span.text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/*Stats End*/
/*Discount Start*/
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image {
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}
@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32 135 224 / 97%);
    z-index: -1;
}
.discount .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .discount .form {
        margin-bottom: 50px;
    }
}
@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    margin-bottom: 25px;
    border: none;
    padding: 15px;
    border-bottom: solid #CCC 1px;
    background-color: #f9f9f9;
    width: 100%;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form .input:focus {
    outline: none;
}
.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
    color: white;
}
.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}
.discount .content {
    text-align: center;
    padding: 0 20px ;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.7;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
/*Discount End*/
/*Footer Start*/
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 991px) {
    .footer {
        text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .container .box h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0 0 20px;
}
.footer .container .box ul.social {
    display: flex;
}
@media (max-width: 991px) {
    .footer .container .box ul.social {
        justify-content: center;
    }
}
.footer .container .box .social li {
    margin-right: 10px;
}
.footer .container .box .social li a {
    background-color: #313131;
    color: #b9b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .container .box .social a.facebook:hover {
    background-color: #1877f2;
}
.footer .container .box .social a.twitter:hover {
    background-color: #1da1f2;
}
.footer .container .box .social a.youtube:hover {
    background-color: #ff0000;
}
.footer .container .box p.text {
    color: #b9b9b9b9;
    line-height: 2;
}
.footer .container .box ul.links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .container .box ul.links li:not(:last-child) {
    border-bottom: solid 1px #444;
}
.footer .container .box ul.links li:hover {
    padding-left: 10px;
}
.footer .container .box ul.links li:hover a {
    color: white;
}
.footer .container .box ul.links li a {
    color: #b9b9b9b9;
    transition: var(--main-transition);
}
.footer .container .box ul.links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .container .box ul.links li:hover a::before {
    color: var(--main-color-alt);
}
.footer .container .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .footer .container .box .line {
        flex-direction: column;
    }
}
.footer .container .box .line i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}
@media (max-width: 991px) {
    .footer .container .box .line i {
        margin-bottom: 10px;
    }
}
.footer .container .box .line .info {
    font-size: 20px;
    line-height: 1.7;
    flex: 1;
}
.footer .container .box .line .info span {
    display: block;
}
.footer .container .box.footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
.footer .copyright a {
    color: var(--main-color);
}
.footer .copyright a:hover {
    color: var(--main-color-alt);
}
/*Footer End*/
/*Animation_Start*/
@keyframes img_animation {
    0% ,100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes go_animation {
    0%, 10%, 30%, 50%, 70%, 100%{
        transform: translateY(0);
    }
    20%, 40%, 60% {
        transform: translateY(-15px);
    }
}
@keyframes left_main {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right_main {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes i_info {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
    opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0%, 100% {
        background-image: url("../imgs/discount-background1.jpg");
    }
    50% {
        background-image: url("../imgs/discount-background2.jpg");
    }
}
/*Animation_End*/









